footer{
    margin-top: 50px;
    height: 400px;
    background-image: linear-gradient(180deg,#432820, #2b1a15, #180e0b);
    text-align: center;
    border-top: 5px solid #e62f72;
}

.logo-rodape{
    padding: 100px;
    text-align: center;
}

.titulo-rodape{
    font-family: "Lobster", serif;
    color: white;
    font-size: 34px;
    
}

.direito-reservado{
    position: relative;
    top: 130px;
    font-size: 13px;
}